'.source.cobol':
  editor:
    tabLength: 1
    preferredLineLength: 120
    fileEncoding: "windows1252"
    tabType: "soft"
  core:
    tabType: "soft"
'.source.js':
  core:
    fileEncoding: "utf8"

'.source.css':
  core:
    fileEncoding: "utf8"

'.text.html':
  core:
    fileEncoding: "utf8"

'.source.json':
  core:
    fileEncoding: "utf8"

'.source.coffee':
  core:
    fileEncoding: "utf8"

'.source.md':
  core:
    fileEncoding: "utf8"
