  "atom-workspace":
    "ctrl-l": "rech:close-bottom-panel"
  "atom-workspace atom-text-editor, body":
    "ctrl-l": "rech:toggle-bottom-panel"
    "ctrl-p": "rech:cobol-identa-bloco"
    "alt-left": "rech:cobol-identa-bloco-esquerda"
    "alt-right": "rech:cobol-identa-bloco-direita"
    "ctrl-f9": "rech:cobol-compile"
    "alt-n": "rech:insere-linha-comentario"
    "alt--": "rech:insere-separador"
    "f12": "rech:cobol-posiciona-declaracao"
    "ctrl-shift-o": "rech:abre-fontes-consulta"
    "alt-o": "rech:abre-fontes-wc"
    "ctrl-shift-y": "rech:abre-bat"
    "ctrl-g": "rech:fongrep"
    "ctrl-m": "go-to-line:toggle"
    "alt-f2": "rech:abre-cursor"
    "f10": "rech:copiar-linha"
    "f11": "rech:colar-linha"
  # Remove o Key-Binding to Ctrl+Down e Ctrl+Up, que por padrão movem uma linha para cima e para baixo, e remapeia as ações
  'atom-text-editor':
    'ctrl-up': 'nil'
    'ctrl-down': 'nil'
  #Move as linhas para baixo e para cima
    'ctrl-alt-pageup': 'editor:move-line-up'
    'ctrl-alt-pagedown': 'editor:move-line-down'
  #Open Dialog
  #  'ctrl-shift-o': 'fuzzy-finder:toggle-file-finder'
  #Janela
    'f6': 'pane:show-next-item'
    'f2': 'pane:show-previous-item'
    'shift-f7': 'window:reload'
  #Book Mark
    'alt-0': 'bookmarks:view-all'
    'alt--': 'bookmarks:clear-bookmarks'
    'shift-alt-left': 'bookmarks:toggle-bookmark'
  #Manipula??o de linha
    'ctrl-f12': 'editor:delete-line'
    'alt-=': 'editor:toggle-line-comments'
