  "atom-workspace":
    "ctrl-l": "rech:close-bottom-panel"
  "atom-workspace atom-text-editor, body":
  # Scripts da Rech, ativos quando está no editor
    "ctrl-l": "rech:toggle-bottom-panel"
    "ctrl-p": "rech:cobol-identa-bloco"
    "alt-left": "rech:cobol-identa-bloco-esquerda"
    "alt-right": "rech:cobol-identa-bloco-direita"
    "ctrl-f9": "rech:cobol-compile"
    "alt-n": "rech:insere-linha-comentario"
    "alt--": "rech:insere-separador"
    "f12": "rech:cobol-posiciona-declaracao"
    "ctrl-shift-o": "rech:abre-fontes-consulta"
    "alt-o": "rech:abre-fontes-wc"
    "ctrl-shift-y": "rech:abre-bat"
    "ctrl-g": "rech:fongrep"
    "ctrl-m": "go-to-line:toggle"
    "alt-f2": "rech:abre-cursor"
    "f10": "rech:copiar-linha"
    "f11": "rech:colar-linha"
    "alt-p": "rech:posiciona-linha-branco-frente"
    "alt-[": "rech:posiciona-linha-branco-tras"
    "ctrl-8": "rech:posiciona-area-a"
    "ctrl-2": "rech:posiciona-area-b"
    "ctrl-4": "rech:posiciona-coluna-a"
    "ctrl-3": "rech:posiciona-coluna-b"
    "ctrl-5": "rech:posiciona-coluna-c"
    "ctrl-1": "rech:posiciona-coluna-value"
    "ctrl-0": "rech:seleciona-busca-frente"
    "ctrl-9": "rech:seleciona-busca-tras"
    "ctrl-shift-m": "rech:digita-move"
    "ctrl-shift-a": "rech:digita-spaces"
    "ctrl-shift-z": "rech:digita-zeros"
    "ctrl-shift-v": "rech:digita-low-values"
    "ctrl-shift-t": "rech:digita-to"
    "alt-/": "rech:pontos-ate-fim"
    "shift-alt-c": "rech:puxa-comentario"
    "ctrl-k": "rech:busca-proximo-paragrafo"
    "ctrl-shift-k": "rech:busca-paragrafo-anterior"
    "ctrl-shift-pageup": "rech:duplica-acima"
    "ctrl-shift-pagedown": "rech:duplica-abaixo"
  # Remove o Key-Binding to Ctrl+Down e Ctrl+Up, que por padrão movem uma linha para cima e para baixo, e remapeia as ações
  'atom-text-editor:not([mini])':
    'ctrl-shift-k': "unset!"
  '.platform-darwin atom-text-editor:not([mini])':
    'ctrl-shift-k': "unset!"
  'atom-text-editor':
    'ctrl-up': 'nil'
    'ctrl-down': 'nil'
  #Move as linhas para baixo e para cima
    'ctrl-alt-pageup': 'unset!'
    'ctrl-alt-pagedown': 'unset!'
  #Open Dialog
  #  'ctrl-shift-o': 'fuzzy-finder:toggle-file-finder'
  #Janela
    'f6': 'pane:show-next-item'
    'f2': 'pane:show-previous-item'
    'shift-f7': 'window:reload'
  #Book Mark
    'alt-0': 'bookmarks:view-all'
    'alt--': 'bookmarks:clear-bookmarks'
    'shift-alt-left': 'bookmarks:toggle-bookmark'
  #Manipula??o de linha
    'ctrl-f12': 'editor:delete-line'
    'alt-=': 'editor:toggle-line-comments'
  # Desabilita todos Ctrl+K * nativos do Atom
  'body':
      "ctrl-k up": "unset!"
      "ctrl-k down": "unset!"
      "ctrl-k left": "unset!"
      "ctrl-k right": "unset!"
      "ctrl-k ctrl-w": "unset!"
      "ctrl-k alt-ctrl-w": "unset!"
      "ctrl-k ctrl-p": "unset!"
      "ctrl-k ctrl-n": "unset!"
      "ctrl-k ctrl-up": "unset!"
      "ctrl-k ctrl-down": "unset!"
      "ctrl-k ctrl-left": "unset!"
      "ctrl-k ctrl-right": "unset!"
  'atom-workspace atom-text-editor':
      "ctrl-k ctrl-u": "unset!"
      "ctrl-k ctrl-l": "unset!"
  "atom-workspace atom-text-editor:not([mini])":
      "ctrl-k ctrl-0": "unset!",
      "ctrl-k ctrl-1": "unset!",
      "ctrl-k ctrl-2": "unset!",
      "ctrl-k ctrl-3": "unset!",
      "ctrl-k ctrl-4": "unset!",
      "ctrl-k ctrl-5": "unset!",
      "ctrl-k ctrl-6": "unset!",
      "ctrl-k ctrl-7": "unset!",
      "ctrl-k ctrl-8": "unset!",
      "ctrl-k ctrl-9": "unset!"
  '.platform-win32, .platform-linux':
    'ctrl-k ctrl-b': 'unset!'
  '.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
    'ctrl-k ctrl-d': 'unset!'
